{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Buku Online</h2>
    <div class="row">
        {% for book in books %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <p class="card-text">Penulis: {{ book.author }}</p>
                    <a href="{% url 'detail_online_book' pk=book.pk %}" class="btn btn-primary">Baca Sekarang</a>  <!-- Perbaiki URL -->
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
