<!-- templates/syarat_dan_ketentuan.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <h2 class="text-center text-primary mb-4">Syarat dan Ketentuan</h2>
    <hr class=my-4>
    <p class="lead text-justify">Syarat dan ketentuan ini mengatur penggunaan situs web dan layanan yang disediakan oleh SMPN 1 Langkaplancar. Dengan mengakses atau menggunakan situs kami, Anda setuju untuk terikat oleh syarat dan ketentuan ini.</p>
    
    <hr>

    <h3 class="mt-4 text-info">1. Penggunaan Website</h3>
    <p>Anda setuju untuk menggunakan situs web kami hanya untuk tujuan yang sah dan sesuai dengan hukum yang berlaku. Anda dilarang untuk mengakses atau menggunakan situs ini untuk kegiatan yang melanggar hukum atau merugikan pihak lain.</p>

    <h3 class="mt-4 text-info">2. Akun Pengguna</h3>
    <p>Untuk menggunakan beberapa layanan di situs kami, Anda mungkin diminta untuk membuat akun. Anda bertanggung jawab untuk menjaga kerahasiaan informasi akun Anda, termasuk kata sandi, dan untuk semua aktivitas yang terjadi di bawah akun Anda.</p>

    <h3 class="mt-4 text-info">3. Konten Pengguna</h3>
    <p>Dengan mengunggah atau mengirimkan konten melalui situs kami, Anda memberikan kami hak non-eksklusif untuk menggunakan, memodifikasi, dan mendistribusikan konten tersebut. Anda juga bertanggung jawab sepenuhnya atas konten yang Anda unggah.</p>

    <h3 class="mt-4 text-info">4. Pembatasan Tanggung Jawab</h3>
    <p>Situs kami disediakan "sebagaimana adanya", dan kami tidak menjamin bahwa layanan kami bebas dari kesalahan atau gangguan. Kami tidak bertanggung jawab atas kerugian atau kerusakan yang timbul dari penggunaan situs ini atau ketidakmampuan untuk mengaksesnya.</p>

    <h3 class="mt-4 text-info">5. Perubahan Syarat dan Ketentuan</h3>
    <p>Kami dapat memperbarui syarat dan ketentuan ini kapan saja. Perubahan akan diposting di halaman ini dan berlaku efektif segera setelah dipublikasikan.</p>

    <h3 class="mt-4 text-info">6. Hukum yang Berlaku</h3>
    <p>Perjanjian ini diatur oleh hukum yang berlaku di Indonesia, dan setiap sengketa yang timbul akan diselesaikan di pengadilan yang memiliki yurisdiksi di Indonesia.</p>

    <hr>
    <p class="text-center text-muted">Terakhir diperbarui: Januari 2024</p>
</div>
{% endblock %}
